<!-- views/pagini/galerie.ejs -->
<!DOCTYPE html>
<html lang="ro">
<head>
    <title>Bar Essentials</title>
    <meta name="keywords" content="cocktail, limonada, livrare, răcoritoare, cafea">
    <meta name="description" content="Site-ul nostru va pune la dispozitie o gama larga de produse, pentru ca bauturile incercate in baruri sa poata fi realizate si acasa">
</head>
<body>
    <%- include("../fragmente/header.ejs") %>
    
    <main class="container mt-4">
        <h1 class="text-center mb-4">Galerie Cocktails</h1>
        <%- include("../fragmente/galerie-statica.ejs") %>
    </main>

    <%- include("../fragmente/footer.ejs") %>
</body>
</html>