:root {
    --culoare-selectie-fundal: #f2c94c;
  --culoare-selectie-text: #2f2f2f;     
}

html{
    font-size: 18px;
    --padding-text: 10px;
}

p, h1, h2, h3, h4, h5, h6{
    padding: var(--padding-text);
}

body{
    --spatiere-pagina: 80px;
    --culoare-fundal: #EDE0D4;
    --culoare-text: #5D4037;
    --culoare-accent: #3E2723; 
    --culoare-highlight: #D4A373; 
    --culoare-border: #A67B5B; 
}

h2{
    font-size: 1.6rem;

}
h3{
    font-size:  1.3rem;

}

.container-iframe {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    width: 100%;
}

.container-iframe iframe {
    width: 100%;
    height: 400px;
    min-width: 300px;
    max-width: 1000px;
  }

.container-iframe > iframe {
    width: 100%;
}

.taburi-iframe {
    display: flex;
    justify-content: center;
    flex-wrap: wrap ;
    right:10px;
    bottom:10px;
}

.taburi-iframe .tab-iframe{
    border-top: 7px solid var(--culoare-highlight);
    border-left: 7px solid rgba(0, 0, 0, 0);
    border-right: 7px solid rgba(0, 0, 0, 0);
    display: flex;
}

.taburi-iframe .tab-iframe > a {
    display: block;
    width:90px;
    height: 70px;
    background-color: var(--culoare-highlight);
    text-align: center;
    color: var(--culoare-fundal);
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    box-shadow: inset 0 -3px 10px 5px rgba(224, 225, 221, 0.3);
    border: 2px solid var(--culoare-5);
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .taburi-iframe .tab-iframe > a:hover {
    box-shadow: none;
    transition: box-shadow 1s;
  }

#grid-pagina{
    display:grid;
    gap: 10px;
    grid-template-areas:  
        "welcome welcome welcome welcome"
        "produse limonada-vs-cafea limonada-vs-cafea limonada-vs-cafea"
        "produse sirop_limonada sirop_limonada sirop_limonada"
        "baze produse_cafea produse_cafea ustensile"
        "hr hr hr hr"
        "duotone-pic duotone-pic duotone-pic duotone-pic"
        "retete retete retete retete"
        "ghid promo promo despre"
        "galerie-statica galerie-statica galerie-statica galerie-statica"
        /* "lista_pdf lista_pdf lista_pdf lista_pdf" */
        "video video video video"
        "program-customer-service ajutor ajutor ajutor";
}

#stilizare-hr{
    grid-area: hr;
}

#grid-pagina > *{
    background-color: var(--culoare-fundal);
    border: 2px solid var(--culoare-border);
    border-radius: 5px;
    padding: 10px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
}

#grid-pagina > figure{
    margin: 0;
}

#grid-pagina img{
    width: 100%;
    max-width: 300px;
}


main{
    padding-left: var(--spatiere-pagina);
    padding-right: var(--spatiere-pagina);
    max-width: 1200px;
    margin: 0 auto;
}

#welcome{
    grid-area: welcome;
}

#produse{
    grid-area: produse;
}

#limonada-vs-cafea{
    grid-area: limonada-vs-cafea;
}

#sirop_limonada{
    grid-area: sirop_limonada;
}

#produse_cafea{
    grid-area: produse_cafea;
}

#baze{
    grid-area: baze;
}

#ustensile{
    grid-area: ustensile;
}

#ghid{
    grid-area: ghid;
}
#lista_pdf {
    grid-area: lista_produse_pdf;
}

#video{
    grid-area: video
}

#retete{
    grid-area: retete;
}

#promo{
    grid-area: promo;
}

#galerie-statica{
    grid-area: galerie-statica;
}

#despre{
    grid-area: despre;
}

#ajutor{
    grid-area: ajutor;
}

#program-customer-service {
    grid-area: program-customer-service;
    text-align: center;
    margin: 40px auto;
    padding: 20px;
}

#duotone-pic {
    grid-area: duotone-pic;
}

.table-container {
    overflow-x: auto; 
    max-width: 100%;
    margin: 0 auto;
}

table {
    width: 100%;
    border-collapse: collapse;
    border: 5px inset #555;
    margin-top: 10px;
}

caption {
    caption-side: bottom;
    font-style: italic;
    padding-top: 10px;
    color: #666;
}

th, td {
    border: 1px solid #ccc;
    padding: 10px;
    text-align: center;
}

thead {
    background-color: #ffcc00;
}

tfoot {
    background-color: #eeeeee;
}

tbody tr:nth-child(odd) td {
    border-bottom: 1px solid #ff5733;
}
tbody tr:nth-child(even) td {
    border-bottom: 1px solid #3388ff;
}

tbody tr:hover {
    outline: 5px solid rgba(0, 0, 0, 0.7);
    transition: outline 0.5s ease-in-out;
}


body {
    background-color: var(--culoare-fundal);
    color: var(--culoare-text);
}

header, footer {
    background-color: var(--culoare-border);
    border-bottom: 3px solid var(--culoare-highlight);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 15px;
    border-radius: 8px;
}

#site-title{
    font-family: 'Boldonse', sans-serif;
    font-size: 24px;
    font-weight: bold;
}

figcaption{
    text-align:center;
}

.link-top{
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 50px;
    height: 50px;
    background-color: rgba(0, 0, 0, 0.5); 
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    transition: background-color 0.5s, opacity 0.5s;
    opacity: 0.7;
}

.link-top:hover {
    background-color: rgba(0, 0, 0, 1);
    opacity: 1;
}

.triangle {
    width: 0;
    height: 0;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-bottom: 20px solid white;
    transition: border-bottom-color 0.5s;
}

.link-top:hover .triangle {
    border-bottom-color: yellow;
}

.link-top::after {
    content: "Urcă înapoi sus";
    position: absolute;
    bottom: 60px;
    left: 50%;
    transform: translateX(-50%);
    background-color: black;
    color: white;
    padding: 5px 10px;
    font-size: 12px;
    border-radius: 5px;
    opacity: 0;
    transition: opacity 0.5s;
    white-space: nowrap;
}

.link-top:hover::after {
    opacity: 1;
}

@media screen and (max-width: 1200px){
    html{
        font-size: 14px;
    }

    body{
        --spatiere-pagina: 50px;
    }

    #grid-pagina{
        grid-template-rows: 1fr 1fr;
        grid-template-areas: "welcome welcome"
            "produse produse"
            "limonada-vs-cafea limonada-vs-cafea"
            "sirop_limonada sirop_limonada"
            "produse_cafea produse_cafea"
            "baze ustensile"
            "retete retete"
            "duotone-pic duotone-pic"
            "ghid ghid"
            "lista_pdf"
            "promo despre"
            "ajutor ajutor"
            "orar orar";
        gap: 7px;
    }
}

::cue{
    background: transparent;
    color: white;
    text-shadow: 2px 2px 4px black;
}

video{
    width: 80%;
    max-width: 800px;
    min-width: 300px;
    height: auto;
}

.info-utilizator {
    font-size: 0.9em;
    color: #555;
    margin-left: 1em;
}

@media screen and (max-width:800px) {
    #grid-pagina{
        display: block;
        gap: 5px;
    }

    html{
        font-size:10px;
    }

    body{
        --spatiere-pagina:20px;
    }    
}

:root {
    --culoare-vizitat: purple;
  }
  
  a:visited {
    color: var(--culoare-vizitat);
  }
  
  a[href^="http"]::before {
    content: "⮳";
    font-size: 150%;
    margin-right: 0.2em;
  }
  
  a[href^="http"]:hover::before {
    color: orange;
  }
  
  main a {
    position: relative;
    display: inline-block;
    background-image: radial-gradient(circle, orange 0%, orange 40%, transparent 80%, transparent 100%);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 0%;
    transition: background-size 0.5s ease;
  }
    
  main a:hover {
    background-size: 100%;
  }

  
/* poza duotone */
  .duotone-image {
    position: relative;
    width: 600px;
    height: 400px;
    background-image: url(../img/duotone-pic.jpg);
    background-size: cover;
    background-position: center;
    overflow: hidden;
    cursor: pointer;
  
    &::before,
    &::after {
      content: '';
      position: absolute;
      top: 0;
      width: 100%;
      height: 100%;
      transition: transform 1.2s ease-in-out;
      mix-blend-mode: screen;
      pointer-events: none;
    }
  
    &::before {
      background-color: #ff00ff; 
      transform: translateX(-100%);
      left: 0;
    }
  
    &::after {
      background-color: #0000ff;
      transform: translateX(100%);
      left: 0;
    }
  
    &:hover::before,
    &:hover::after {
      transform: translateX(0);
    }
  }

  /* scriere text coloane */
  #produse_cafea article {
    column-count: 2; 
    column-gap: 2rem;
    column-rule: 1px solid #999;
  }
  
  @media screen and (max-width: 768px) {
    #produse_cafea article {
      column-count: 1;
      column-rule: none;
    }
  }

  /* text plimbare */
  .banner-cafea {
    position: relative;
    overflow: hidden;
    width: 100%;
    background-color: #f9f9f9;
    border: 1px solid #ccc;
    margin-bottom: 1rem;
    height: 4.5rem;
  }
  
  .banner-cafea p {
    position: absolute;
    white-space: nowrap;
    animation: plimbare-text 12s linear infinite;
    font-weight: bold;
    color: #7b3f00;
    font-size: 1.2rem;
    padding-left: 100%;
  }
  
  @keyframes plimbare-text {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-100%);
    }
  }


  /* culoare selectare */
  ::selection {
    background-color: var(--culoare-selectie-fundal);
    color: var(--culoare-selectie-text);
  }



  #stilizare-hr {
    position: relative;
    border: none;
    height: 2px; /* grosimea liniei */
    background-color: #4A90E2; /* poți schimba culoarea cu una din schema aleasă */
    margin: 40px auto;
    width: 40%;
    border-radius: 0;
    z-index: 5;
  }
  
  /* Triunghiul din stânga */
  #stilizare-hr::before,
  #stilizare-hr::after {
    content: "";
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 0;
    height: 0;
    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent;
  }
  
  /* Stânga */
  #stilizare-hr::before {
    left: -20px;
    border-right: 20px solid #4A90E2;
  }
  
  /* Dreapta */
  #stilizare-hr::after {
    right: -20px;
    border-left: 20px solid #4A90E2;
  }