<footer>
    <a href="#top" class="link-top">
        <div class="triangle"></div>
    </a>
    <p><a href="#top">Înapoi la începutul paginii</a></p>
    <small>
        &copy; <time datetime="2025-03-07">7 martie 2025</time> Bartender’s Haven.
        <strong>Toate drepturile rezervate.</strong>
    </small>
    <address>
        <a href="tel:+40767182912">Telefon: +40767182912</a>
        <br />
        <a 
            href="https://www.google.ro/maps/place/Faculty+of+Mathematics+and+Computer+Science/@44.4355393,26.0970118,17z/data=!3m1!4b1!4m6!3m5!1s0x40b1ff472f47f047:0x493984726f0235f9!8m2!3d44.4355355!4d26.0995867!16s%2Fg%2F1td63tdh?entry=ttu&g_ep=EgoyMDI1MDIyNi4xIKXMDSoJLDEwMjExNDU1SAFQAw%3D%3D"
            target="_blank">
            Adresă: Facultatea de Matematica si Informatica
        </a>
        <br />

        <iframe
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2848.8842997291954!2d26.0995867!3d44.4355355!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40b1ff472f47f047%3A0x493984726f0235f9!2sFacultatea%20de%20Matematica%20si%20Informatica!5e0!3m2!1ro!2sro!4v1741034512398!5m2!1ro!2sro"
            width="450"
            height="300"
            style="border:0"
            allowfullscreen
            loading="eager"
            referrerpolicy="strict-origin-when-cross-origin">
        </iframe>
        <br />
        <a href="mailto:contact@baressentials.com">Email: contact@baressentials.com</a>
        <br />
        <a href="https://wa.me/+40712345678" target="_blank">Chat pe WhatsApp</a>
        <p class="banner-proiect">Acesta este un proiect școlar!</p>
    </address>
</footer>
