<header>
    <h1 id="site-title">Bar Essentials</h1>
    <!-- <input type="checkbox" id="toggle-meniu" /> -->
    <label for="toggle-meniu" class="hamburger">
        <span></span>
        <span></span>
        <span></span>
    </label>

    <nav class="meniu-mobil">
        <ul class="meniu">
            <li class="home"><a href="#top">Acasă</a></li>
            <li>
                <a href="/index#produse">Produse</a>
                <ul class="submeniu">
                    <li><a href="/index#sirop_limonada">Siropuri pentru limonadă</a></li>
                    <li><a href="/index#produse_cafea">Produse pentru cafea</a></li>
                    <li><a href="/index#baze">Baze pentru băuturi</a></li>
                    <li><a href="/index#ustensile">Ustensile de bar</a></li>
                </ul>
            </li>
            <li><a href="/index#despre">Despre Noi</a></li>
            <li><a href="/barman">Barman Faimos</a></li>
            <li><a href="/index#ajutor">Ajutor & Politici</a></li>
            <li><div>Bauturi</div>
                <ul>
                    <li><a href="/bauturi">Toate</a></li>
                    <li><a href="/bauturi?categorie=sirop_cafea">Siropuri pentru Cafea</a></li>
                    <li><a href="/bauturi?categorie=sirop_limonada">Siropuri pentru Limonada</a></li>
                    <li><a href="/bauturi?categorie=topping">Topping-uri</a></li>
                    <li><a href="/bauturi?categorie=piure">Piure-uri de fructe</a></li>
                </ul>
            </li>
            
        </ul>
    </nav>
</header>
